@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

body {
    min-height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
}

.first-part {
    height: 30%;
    background-image: url(./images/bg-main-mobile.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
}

.cards {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.card-back {
    position: relative;
    transform: translateX(30px);
    display: flex;
    align-items: center;
}

.card-front {
    position: relative;
    transform: translateX(-30px) translateY(-60px);
    display: flex;
    flex-direction: column;
}

.card-back img{
      width: 100%;
     /*   position: relative;
    top: 28px;
    right: 15px; */
}

.card-front img{
    width: 100%;
    /* position: relative;
    top: 130px;
    left: 15px; */
}

#cvc {
    position: absolute;
    right: 35px;
    transform: translateY(-2px);
    color: white;
    font-size: 0.7rem;
} 

.logo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin: 0.8rem 0.9rem;
}

.full-circle {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50px;
}

.empty-circle {
    width: 12px;
    height: 12px;
    background: transparent;
    border-radius: 50px;
    border: 1px solid white;
}

#card-number {
    position: absolute;
    bottom: 45px;
    color: white;
    font-size: 1.3rem;
    margin-left: 0.9rem;
}

.name-date {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.9rem;
}

#name {
    color: white;
    text-transform: uppercase;
    font-size: 0.6rem;
}

#date {
    color: white;
    font-size: 0.6rem;
}

.second-part {
    height: 70%;
    padding: 120px 20px 40px 20px;
}

form {
    display: flex;
    flex-direction: column;
    /* padding-top: 50px; */
}

.name-wrapper, .number-wrapper {
    display: flex;
    flex-direction: column;
}

#name-inp {
    height: 40px;
}

#card-num-inp {
    height: 40px;
}

.date-cvc {
    display: flex;
    width: 100%;
    gap: 1.2rem;
}

.card-date-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.card-date {
    display: flex;
    gap: 1rem;
}

.card-cvc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
}

#month {
    text-align: center;
    width: 60px;
    height: 40px;
}

#year {
    text-align: center;
    width: 60px;
    height: 40px;
}

#card-cvc {
    height: 40px;
}

label {
    color: #21092F;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-bottom: 5px;
}

input {
    border: 1px solid #DFDEE0;
    border-radius: 5px;
    margin-bottom: 1.4rem;
    color: black;
    
}

input:focus {
    border: none;
    outline-color: #6348FE;
}

#name-inp, #card-num-inp, #card-cvc {
    padding-left: 1rem;
}

.btn {
    height: 50px;
    width: 100%;
    background-color: #21092F;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

form {
    display: flex;
}

.thank-cont {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-top: 25px;
}

.thank-cont img {
    width: fit-content;
}

h2 {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 3.42222px;
    color: #21092F;
    text-transform: uppercase;
}

.thank-cont p {
    color: #8F8694;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.error_message::after {
    content: "Can't be blank";
    color: #FF5050;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.error-border {
    border: 1px solid #FF5050;
}

.wrong-format::after {
    content: "Wrong format, numbers only";
    color: #FF5050;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}


@media screen and (min-width: 1024px) {
    main {
        display: flex;
        justify-content: space-between;
    }

    .first-part {
        width: 50%;
        height: 100%;
        background-image: url(./images/bg-main-desktop.png);
        background-size: 35vw 100vh;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .first-part img {
        width: 75%;
    }

    .name-date {
        width: 75%;
    }

    .second-part {
        width: 50%;
        display: flex;
        height: 100%;
        padding: 0 100px;
        align-items: center;
        /* transform: translateX(-180px); */
    }

    .cards {
        margin-left: 100px;
        flex-direction: column-reverse;
        justify-content: center;
        
    }

    #cvc {
        right: 35%;
    }

    .thank-cont {
        height: 50%;
    }

    button:hover {
        cursor: pointer;
    }
}